body {
    font-family: 'Heebo', sans-serif;
    color: #3b3b3b;
}

.top-banner1 {
    background-image: url('./images/couple2.jpg');
    background-size: cover;
}

.top-banner1 img {
    width: 40px;
    margin-top: 30px;
    margin-left: 30px;
}

.sign-up {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.sign-up h1 {
    font-weight: 500;
    font-size: 36px;
}

.sign-up p {
    line-height: 18px;
    font-size: 18px;
    font-weight: 300;
}

.ftitle {
    font-size: 12px!important;
    margin-bottom: 0;
    padding-top: 5px;
    font-weight: 400!important;
}

.btn {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 10px;
    background-color: #ff5a60;
    color: white;
    font-weight: 400;
    border: none;
    padding-top: 8px;
    padding-bottom:8px;
}

/* middle area */
.middle {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: left;
}

.middle h2 {
    text-align: left;
    font-size: 35px;
}

.middle p {
    font-size: 18px;
    font-weight: 300;
}

.review {
    background-color: white;
    box-shadow: 1px 2px 2px 2px #f3f3f3;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    min-height: 200px;
}

.review img {
    max-width: 100%;

}

.starrow {
    margin-bottom: 0;
    padding-bottom: 0;
}

.glyphicon {
    color: #ff5a60;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 5px;
    margin-bottom: 0;
}

.glyph2 {
    color: #f3f3f3;
}

.namerow {
    margin-top: 0;
    padding-top: 0;
}

.review h3 {
    font-size: 20px;
    color: #ff5a60;
    padding-top: 0!important;
    margin-top: 5px!important;
}

.review p {
    font-size: 16px;
    padding-top: 10px;
}

/* footer */
footer {
    background-color: #ff5a60;
    padding-top: 50px;
    padding-bottom: 60px;
}

.flexstf {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 40px;
    padding-right: 10px;
}

.rightr {
    display: flex;
    align-items: center;
}

footer p {
    color: white;
    font-weight: 300;
    padding-top: 1em;
}

/* survey page */
.top-banner2 {
    background-image: url('./images/banner.png');
    background-size: cover;
    height: 300px;
}

.top-banner2 img {
    width: 40px;
    margin-top: 30px;
    margin-left: 30px;
}

/* .name {
    color: #ff5a60;
} */

.survey-b {
    background-color: white;
    margin-top: -180px;
    padding-top: 40px;
    border-radius: 30px;
    padding-bottom: 150px;
}

.survey-b h1, h2 {
    text-align: center;
}

.survey-b h2 {
    font-weight: 300;
    margin-top: 0;
}

.tag {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 15px;
}

.q-col {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
}

.questions {
    font-size: 20px;
    font-weight: 300;
}

.btn2 {
    width: 35%;
}

.flexin {
    display: flex;
    align-items: center;
    justify-content: center;
}
